.description {


    display: flex;
    width: 120rem;
    margin: 20rem auto;
    position: relative;
    
    

    .desc-img{ 

    margin-left: 5rem;

    }
    

    .desc-text {

        padding: 5rem;
        background-color: $White;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        width: 50rem;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 5rem;
        
        
    

        h2 {

            font-size: 4rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $Black;

        }

        p {

            font-size: 1.6rem;
            margin-top: 2rem;
            color: $DarkGray;

        }
    }



}