.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/images/desktop/image-hero.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

    header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 120rem;
        height: 20rem;
        margin: auto;

        .header_logo {

            margin-left: 3rem;
        }

        .nav {
          @include nav-button()
        }

    }

    .hero_container {

        max-width: 120rem;
        padding: 20rem 0;
        margin: auto;


        .call-to-action {

            color: $White;
            width: 65rem;
            text-transform: uppercase;
            border: 1px white solid;
            padding: 2rem;
            margin-left: 3rem;

            h1 {
                transform: translateY(1rem);
                line-height: 1.1;
                font-weight: 300;
                font-size: 7rem;

            }
        }
    }
}



